
/* Containers --------------------------------------------------- */
body {
  font-size: 1rem;
  /* line-height: 1.4rem; */
  /* position: relative; */
  /* font-family: "Open Sans", Arial, sans-serif; */
  /* padding-left: 0px; */
  /* padding-right: 0px; */
}

h1 { font-size: 1.383rem !important}
h2 { font-size: 1.296rem !important}
h3 { font-size: 1.215rem !important}
h4 { font-size: 1.138rem !important}
h5 { font-size: 1.067rem !important}
h6 { font-size: 1.067rem !important}

h1, h2, h3, h4, h5, h6 {
   font-family: "Open Sans", Arial, sans-serif;
   color: #434c57;
   margin-bottom:.5rem;
}

h1, h2, h3, h4 {
   font-weight: 400 !important;
}



h2.s-lib-box-title i{ /* NOTE:adds 1em right margin to the icons in the box headers*/
    margin-right:.5em;
    }

h5, h6 {
   font-weight: 600;
}

h6 {
   font-style: italic;
}

p, li, th, tr, td, dd, dl, a, ul, ol, dl, input, textarea, button, select, option {
   font-weight: 400;
   font-size: 1rem;
   vertical-align: baseline;
   -webkit-font-smoothing: antialiased;
   font-family: "Open Sans", Arial, sans-serif !important;
}

dl, dd, dt {
   font-size: 16px !important;
}

th {
   font-weight: 600 !important;
}

dt {
   font-weight: 600 !important;
}

.lead {
   font-weight: 400;
   color: #777777;
}

dl {
   margin-left: 1em;
}

dd {
   margin-bottom: 1em;
}
 /* ------------------------------------------- */

.s-lg-guide-body { /* NOTE: Set the line-height for the body text in the guides */
  line-height: 1.5;
}

.s-lg-link-list li {
  margin-bottom:12px;
}

ul.alt-shaded-rows li:nth-child(odd) {
   background: #fAfAfA;
}

.s-lg-guide-list-info {
display: none;
}

.example {
    position: relative;
    margin: 15px 0 0;
    padding: 50px 20px 12px 20px;
    background-color: #fff;
    border-radius: 4px 4px 4px 4px;
    border: 1px solid #ddd;
    z-index: 2;
}

.example:after {
    content: "Example";
    position: absolute;
    top: 0;
    left: 0;
    padding: 2px 8px;
    font-size: 15px;
    font-weight: bold;
    background-color: #656f7a; /* #dff0d8  002b5b */
    color: #FFFFFF; /*#3c763d */
    padding:6px;
    border-radius: 4px 0 4px 0;
    font-weight: 400;
}

pre.prettyprint { /* NOTE: Force prettyprint to wrap */
   border: none !important;
   padding: 10px !important;
   font-size: 14px;
   white-space: pre-wrap;       /* css-3 */
   white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
   white-space: -pre-wrap;      /* Opera 4-6 */
   white-space: -o-pre-wrap;    /* Opera 7 */
   word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.container { /* NOTE: Set the page container wider */
    width: 98%;
    padding: 0px 15px;
}


dl {
   margin-left: 1em;
}

dd {
   margin-bottom: 1em;
}

dt {
   font-weight: 500;
}

p {
   margin-bottom: 1em;
   line-height: 1.5;
}

th {
   font-weight: 500;
}

a,
a:link,
a:hover,
a:visited,
a:active {
   font-weight: 600;
   font-family: "Open Sans", Arial, sans-serif;
}

h1#s-lg-guide-name { /* NOTE: Set the size of the Guide Name */
    font-size: 2.5em;
    color: #C99700;
    line-height: 36px;
    font-weight: 400;
    margin-bottom: 20px;
}




.s-lib-box-content .ui-tabs .ui-tabs-panel {
   padding: 25px;
}

.s-lib-profile-contact {
    margin-top: 45px;
}

.s-lib-profile-contact strong {
   display:none;
}

ul.list-group.s-lg-boxnav .list-group-item i { /* NOTE: Sets the margin-right on box listing for left nav */
   margin-right:.5em;
   }






/* ---------- jQuery Accordion styles ---------------- */

.ui-accordion .ui-accordion-icons {
  padding-left: 2.2em;
}

.ui-accordion .ui-accordion-header {
  display: block;
  cursor: pointer;
  position: relative;
  margin: 2px 0 0 0;
  padding: .5em .5em .5em 2em;
  min-height: 0;

  /* NOTE: support: IE7; */
  font-size: 120%;
  color:darkblue;
}
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
  border-top-right-radius: 4px;
}
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
  border-top-left-radius: 4px;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
  border: 1px solid #eeeeee;
  background: #ffffff url("images/ui-bg_glass_65_ffffff_1x400.png") 50% 50% repeat-x;
  font-weight: normal;
  color: #212121;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  border: 1px solid #d3d3d3;
  background: #e6e6e6 url("images/ui-bg_glass_75_e6e6e6_1x400.png") 50% 50% repeat-x;
  font-weight: normal;
  color: #337ab7;
}
.ui-widget {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
}

.ui-helper-reset {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  line-height: 1.3;
  text-decoration: none;
  font-size: 100%;
  list-style: none;
}

.ui-widget-header .ui-state-active { /* NOTE: Sets the active tab to white */
    background: #FFFFFF;
    background-color: #FFFFFF;
}

.ui-accordion .ui-accordion-content {
    border: 1px solid #ececec;
}

.s-lib-box h2:before {
    margin-right: .5em;
   font-family: FontAwesome;
    content: "\f192";
}

#s-lg-tabs-container .nav-pills > li > a {
    font-weight: 500;
    color: #FFFFFF;
}

/* NOTE: Headings */


h4.media-heading {
   border-bottom: none;
}

li[role="menuitem"] a span {
   font-weight: 500;
}

.s-lg-tabs-side .s-lg-boxnav .list-group-item {
   margin-top: 1px;
   margin-bottom: 1px;
}

#nd-career-services h5 {
   border-bottom: none !important;
   text-align: center;
   margin-bottom: 25px;
}

#nd-career-services h5.panel-title {
   margin-bottom: 0px;
}



.s-lg-tabs-side .s-lg-boxnav .list-group-item {
   background: #FFFFFF;
}

/* ------------- icons ------------------- */

.bright-blue {
    color: #2c76c8;
}

p.icon-xl {
     font-size: 96px;
}

p.icon-lg {
     font-size: 64px;
}

p.icon-md {
     font-size: 48px;
}

p.icon-sm {
     font-size: 24px;
}

p.icon-xs {
     font-size: 12px;
}

/* NOTE: recently added */

.btn-circle {
  width: 90px;
  height: 90px;
  text-align: center;
 font-size: 40px;
  border-radius: 90px;
}

#nd-career-services h4 a {
   font-size: 18px;
}

#nd-career-services h4 {
 margin-bottom: 25px;
}

#nd-career-services h3.panel-title {
    font-weight: 500 !important;
    text-align: center;
}

#s-lg-guide-tabs-title-bar { /* NOTE: sets space between the system box and the beginning of the page content on the editing screen */
 margin-bottom: 10px;
}

.s-lg-admin-guide-page-nav {
     background: #FFFFFF;
}


/* ------  Fix the email me button ------------- */

.s-lib-profile-div.s-lib-profile-center.s-lib-profile-email,
.s-lib-profile-div.s-lib-profile-center.s-lib-profile-email a {
    font-weight: 500 !important;
    padding: 8px !important;
}

.s-lib-profile-email a:before {
  content: "\f1d9 " !important;
  font-family: FontAwesome;
  margin-right:.5em;
}

.panel-body {
   font-weight: 400 !important;
}

h5.panel-title a:link,
h5.panel-title a:visited,
h5.panel-title a:hover,
h5.panel-title a:active  {
   text-decoration: none;
   color: #337ab7;
}

.instructorCard {
  text-align: center;
}

input.s-lg-google-search-field { /* NOTE: Extend Google search input field */
   width: 60%;
   font-size: 1rem;
   padding: 6px 12px;
   height: 34px;
}


/* NOTE: header */


div#nd-libguides-header-pattern {
  background-color: #082142;
  background-image: url('img/jesus.gif');
  background-repeat: repeat-y;
  clear: both;
}


#nd-libguides-header-pattern div:nth-child(even) {
  min-height: 98px;
  background-image: url('https://libapps.s3.amazonaws.com/accounts/38465/images/jesus.gif');
  background-repeat: no-repeat;
}

div#nd-libguides-header-pattern h1 {
 color: #FFFFFF;
 font-size: 1.4em !important;
 text-transform: uppercase;
 font-family: "GalaxiePolaris-Medium", sans-serif;
 margin-top: 20px;
}

#nd-libguides-header-pattern h1 a {
  font-family: "GalaxiePolarisCondensed-Medium", sans-serif;
  color: #FFFFFF;
  text-decoration: none;
  font-size: 1.4em !important;
  margin-top: 10px !important;
}

#nd-libguides-header-pattern h1 a:nth-child(even) {
  text-align: center;
}

#s-lib-public-header-title {
  color: #C99700;
}

div.no-borders > div { /* NOTE: Turns off the borders on profile page */
   border: none !important;
}

#s-lg-profile-cols #col2 div { /* NOTE: Sets the font size on about me box for profile page */
   font-size: 16px;
   line-height: 1.4;
}

.short-round { /* NOTE: Creates the circular icons for the guides */
   display: flex;
   justify-content: center;
   align-items: center;
   color: #FFFFFF;
}

blockquote {
   background: #FAFAFA;
   padding-top: 15px;
   padding-bottom: 15px;
}

blockquote p {
   font-size: 15px;
   color:#666;
}

blockquote footer {
   font-size: 15px;
   color:#666;
}

blockquote footer cite {
   color: #666;
   font-size: 15px;
   font-style: normal;
}


/* ---- placeholder text --------------------------- */

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #ccc !important;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #ccc !important;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #ccc !important;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #ccc !important;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    #ccc !important;
}

::placeholder {
  color:    #ccc !important;
}

.nd-gold {
   color: #C99700;
}

.handbook {
   color: #337ab7;
   margin-right: 6px;
}

.caption { /* NOTE: Sets the background for the image captions */
   margin: 0px 0px 6px;
   background: transparent;
   padding: 10px;
}

.caption p { /* NOTE: Sets the paragraph inside the image caption div */
   font-size: 12px !important;
   font-style: italic;
   color: #777777;
}

.embedded-photo-left {
   margin-top: 0px !important;
   margin-right: 20px !important;
   margin-bottom: 10px !important;
   margin-left: 0px !important;
}

.embedded-photo-right {
   margin-top: 0px !important;
   margin-right: 0px !important;
   margin-bottom: 10px !important;
   margin-left: 20px !important;
}

div.jumbotron h3 {
   margin-bottom: 12px !important;
}

table.numbered-steps tr td:first-of-type { /* NOTE: formats the table with steps */
   padding: 3px;
   text-align: center;
   vertical-align: middle;
   font-weight: 600;
   font-size: 1.3rem;
   background: #fafafa;
   color: grey;
}

h3.jumbotronic {
   font-size: 42px !important;
}

/* Hide the pdf icon for documents */
.s-lg-file-icon.fa-file-pdf-o {
   display:none;
}


/* Sets the spacing for images in an image grid */
.image-grid img {
    margin-bottom: 1em;
}

.image-grid .panel-body img {
   margin-bottom: 0px;
}


.panel-footer,
.panel-footer p {
   margin-bottom: 0 !important;
   font-size: 1rem;
}

/* indents the subpages */
ul.s-lg-subtab-ul.nav.nav-pills.nav-stacked li {
   margin-left: -10px !important;
}

/* Sets the background color of the subpages
ul.s-lg-subtab-ul.nav.nav-pills.nav-stacked > li a {
   background: #204F7C !important;
}
*/

/* CSS for the Clickable Circles on the Instruction Sets*/

.step {
        font-size: 20px;
        height: 44px;
        width: 44px;
        padding: 8px;
        border-radius: 50px;
        border: 1px solid #CCCCCC;
     }

     .conditional {
        background: transparent;
        color: #777777;
     }

     .success {
        background: #5cb85c;
        color: #FFFFFF;
     }



/* remove bullet points from link iterms */

ul.s-lg-link-list {
   list-style-type: none;
}

.s-lg-book-desc {
   margin-top: .25rem;
}

.s-lib-bc-page {
   font-size: 1rem !important;
}

/* Turn off the bullets for guide list entries */
.s-lg-system-list {
   list-style-type: none;
}


/* Eliminate the last hr separating instruction steps */
.instruction-set:last-of-type + hr {
   display: none;
}

/* Jumbotron styles */
h3.jumbotronic {
   font-size: 42px !important;
}

.btn-secondary-light {
    color: #337ab7;
    background-color: transparent;
    border-color: #2e6da4;
}

.btn-secondary-dark {
   color: #FFFFFF;
   background-color: transparent;
   border-color: #FFFFFF;
}

.btn-secondary-light:hover,
.btn-secondary-light:active,
.btn-secondary-light:visited {
   color: #337ab7;
   opacity: .85;
}

.btn-secondary-dark:hover,
.btn-secondary-dark:active,
.btn-secondary-dark:visited {
   color: #FFFFFF;
   background-color: transparent;
   border-color: #FFFFFF;
   opacity: .85;
}

.s-lg-rss-list-item {
   margin-bottom: 1rem;
}

.s-lg-poll-title legend {
   font-weight: 600;
   font-size: 16px;
}
