/* --------- header ------------ */
.brand-bar {
   background-color: #002b5b;
   background-image: none;
   border-bottom: none;
   padding: 12px 0;
   margin: 0;
   z-index: 500;
   width: 100%;
}

.brand-bar a {
   color: white;
   font-size: 1em;
   font-family: "Adobe Garamond Pro", "Adobe Garamond", Georgia, serif;
   letter-spacing: 0.2em;
   padding: 0.15em 0;
   text-transform: uppercase;
}

.brand-bar a i {
   text-transform: none;
}

a.brand-bar-bottom-padded {
   height: 30px !important;
}

.libguides-footer-header {
   /* NOTE: Format the header rubrics in the footer */
   color: #FFFFFF;
   opacity: .7;
   text-transform: uppercase;
   font-weight: 400 !important;
   letter-spacing: 2px;
   margin: 30px auto 15px;
   font-size: 2rem !important;
}

.libguides-footer-par {
   /* NOTE: Format the paragraph color in the footer */
   color: #FFFFFF !important;
}

.libguides-footer-social {
   /* NOTE: Format the social icons in the footer */
   list-style-type: none;
   display: inline !important;
   opacity: .7;
   margin-top: 4rem;
   padding: 0px;
   margin: 0px;
}

#libguides-footer-social li {
   /* NOTE: Format the social networking icons in the footer */
   display: inline;
   color: #FFFFFF !important;
}

#libguides-footer-social li a {
   /* NOTE: Format the social networking icons in the footer */
   width: 2.5rem;
   height: 2.5rem;
   font-size: 4rem !important;
   line-height: 8rem;
   margin: 30px 10px 0px 0px;
   color: #FFFFFF !important;
}

/* --------- footer ------------ */
#s-lib-footer-public {
   /* NOTE: Set a border-top for the pre-footer area */
   background: transparent;
   margin-top: 20px;
   margin-left: 10px;
   margin-right: -5px;
}

#s-lg-guide-header-subjects span {
   /* NOTE: Set the font for the subjects in the footer to 100 */
   font-size: 1.1em;
   ;
}

#libguides-footer {
   padding: 0px 25px 25px;
   background-color: #001c3b;
}

#libguides-footer a:hover {
   /* NOTE: Set the link hover for the footer */
   color: #FFFFFF;
   opacity: .6;
}

#contact-us-header {
   margin: 1rem auto;
   color: #FFFFFF;
}

#contact-us-table {
   /* NOTE: Format the contact us table in the footer */
   margin: 0 auto;
   border: 0px;
}

#contact-us-table tr,
#contact-us-table td {
   /* NOTE: Set the color of the table content to white in footer contact table */
   color: #FFFFFF !important;
}

table#contact-us-table>tbody>tr>td {
   /* NOTE: Remove the border of the table in footer contact table */
   border-top: 0px !important;
}


/* ---------- jQuery Accordion styles ---------------- */

.ui-accordion .ui-accordion-icons {
  padding-left: 2.2em;
}

.ui-accordion .ui-accordion-header {
  display: block;
  cursor: pointer;
  position: relative;
  margin: 2px 0 0 0;
  padding: .5em .5em .5em 2em;
  min-height: 0;

  /* NOTE: support: IE7; */
  font-size: 120%;
  color:darkblue;
}
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
  border-top-right-radius: 4px;
}
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
  border-top-left-radius: 4px;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
  border: 1px solid #eeeeee;
  background: #ffffff url("images/ui-bg_glass_65_ffffff_1x400.png") 50% 50% repeat-x;
  font-weight: normal;
  color: #212121;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  border: 1px solid #d3d3d3;
  background: #e6e6e6 url("images/ui-bg_glass_75_e6e6e6_1x400.png") 50% 50% repeat-x;
  font-weight: normal;
  color: #337ab7;
}
.ui-widget {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
}

.ui-helper-reset {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  line-height: 1.3;
  text-decoration: none;
  font-size: 100%;
  list-style: none;
}

blockquote {
   background: #FAFAFA;
   padding-top: 15px;
   padding-bottom: 15px;
}

blockquote p {
   font-size: 15px;
   color:#666;
}

blockquote footer {
   font-size: 15px;
   color:#666;
}

blockquote footer cite {
   color: #666;
   font-size: 15px;
   font-style: normal;
}

.embedded-photo-left {
   margin-top: 0px !important;
   margin-right: 20px !important;
   margin-bottom: 10px !important;
   margin-left: 0px !important;
}

.embedded-photo-right {
   margin-top: 0px !important;
   margin-right: 0px !important;
   margin-bottom: 10px !important;
   margin-left: 20px !important;
}
